<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Team1.Eggeul.mapper.NoticeMapper">

    <insert id="insert">
        insert into talarm (sn, send_id, receive_id, kind, status, send_date)
        values(talarm.nextval, #{sender}, #{receiver}, #{kind}, 'MSST01', current_date)
    </insert>

    <select id="getList" resultType="Team1.Eggeul.domain.NoticeVO">
        select sn, send_id, receive_id, kind, send_date, status
        from talarm
        where receiver = #{userId} and status = 'MSST01'
        order by send_date desc
    </select>

    <insert id="update">
        update talarm
        set status ='MSST02'
        where sn = #{sn}
    </insert>

</mapper>